---
title: external toolbar
jsfile: toolbar/external
---
<!-- page 외부에 선언 되어있음-->
<!--fixed position은 element에 선언 되어있어야 함-->
<div data-role="header" data-position="fixed">
  <h3> external header </h3>
</div>
<div data-role="footer">
  <h3> external footer </h3>
</div>
<!--page  시작 -->
<div id="page0" data-role="page" >
  <div data-role="content">
  <ul data-role="listview">
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
  </ul>
  </div>
</div><!-- /page -->
