---
title: fullscreen toolbar
---
<!-- page의  header와 footer 를 클릭할때 반응적으로 사라지게 하고싶을 경우 사용 -->
<!-- 사용 방법은 data-position, data-fullscreen 둘다true -->
<div id="page0" data-role="page" >
  <div data-role="header" data-fullscreen="true" data-position="fixed" >
    <h3> data-fullscreen="true" </h3>
  </div><!-- header -->
  <div data-role="content">
    <img src="../../../dist/5/resources/img/main.png" alt="샘플이미지" style="width:100%; margin:0 auto;">
  </div>
  <div data-role="footer" data-fullscreen="true" data-position="fixed">
    <h3>Standard Footer</h3>
  </div>
</div><!-- /page -->
</body>
