---
title: Button in Headers without a heading
---
<div id="page0" data-role="page" >
  <div data-role="header" data-position="fixed">
    <a href="#" class="ui-btn-left">Cancel</a>
    <span class="ui-title"><!--no-header--></span>
    <button class="ui-btn-right">Save</button>
  </div><!-- header -->
  <div data-role="content">
  <ul data-role="listview">
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Banana</a></li>
    <li><a href="#">Cherry</a></li>
  </ul>
  </div>
  <div data-role="footer" style="height:55px;">
    <a href="#" class="ui-btn-left ui-icon-check ui-btn ui-mini  ui-btn-icon-left">Cancel</a>
    <span class="ui-title"><!--no header--></span>
    <a href="#" class="ui-btn-right">right</a>
  </div>
</div><!-- /page -->