---
title: accordion
---

<body>
<div data-role="page">
	<div data-role="header">
		<h1>Accordion</h1>
	</div><!-- /header -->

	<div data-role="content">
		<div data-role="collapsible-set">
		    <div data-role="collapsible">
		        <h3>Section 1</h3>
		        <p>Description 1</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 2</h3>
		        <p>Description 2</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 3</h3>
		        <p>Description 3</p>
		    </div>
		</div>

		<div data-role="collapsible-set" data-theme="e" data-content-theme="a">
		    <div data-role="collapsible">
		        <h3>Section 1</h3>
		        <p>Description 1</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 2</h3>
		        <p>Description 2</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 3</h3>
		        <p>Description 3</p>
		    </div>
		</div>

		<div data-role="collapsible-set" data-inset="false">
		    <div data-role="collapsible">
		        <h3>Section 1</h3>
		        <p>Description 1</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 2</h3>
		        <p>Description 2</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 3</h3>
		        <p>Description 3</p>
		    </div>
		</div>

		<div data-role="collapsible-set" data-mini="true">
		    <div data-role="collapsible">
		        <h3>Section 1</h3>
		        <p>Description 1</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 2</h3>
		        <p>Description 2</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 3</h3>
		        <p>Description 3</p>
		    </div>
		</div>

		<div data-role="collapsible-set" data-corners="false">
		    <div data-role="collapsible">
		        <h3>Section 1</h3>
		        <p>Description 1</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 2</h3>
		        <p>Description 2</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 3</h3>
		        <p>Description 3</p>
		    </div>
		</div>

		<div data-role="collapsible-set" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
		    <div data-role="collapsible">
		        <h3>Section 1</h3>
		        <p>Description 1</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 2</h3>
		        <p>Description 2</p>
		    </div>
		    <div data-role="collapsible">
		        <h3>Section 3</h3>
		        <p>Description 3</p>
		    </div>
		</div>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->