---
title: button
---

<div data-role="page" >
  <div data-role="header" data-position="fixed">
    <h3> Button Examples </h3>
  </div><!-- header -->
  <div data-role="content">
    <div data-role="collapsible-set" data-theme="c" data-content-theme="d">

    <div class="component">
      <div><h3 class ="componentHead">Ex:1 Basic Button</h3></div>
      <a href="#" data-role="button">Anchor Tag: data-role="button"</a>
      <form>
        <button>Button Tag</button>
        <input type="button" value="type = input Tag">
        <input type="submit" value="type = submit Tag">
        <input type="reset" value="type = reset Tag">
      </form>
      </div>
    </div><!--coomponet-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:2 Inine Button</h3></div>
        <a href="#" data-role="button" data-inline="true">Inline Button</a>
        <a href="#" data-role="button" data-inline="true">data-inline="true"</a>
    </div><!--coomponet-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:3 Inline & Theme Button</h3></div>
        <a href="#" data-role="button" data-theme="a">data-theme="a"</a>
        <a href="#" data-role="button" data-theme="b">data-theme="b"</a>
        <a href="#" data-role="button" data-theme="c">data-theme="c"</a>
        <a href="#" data-role="button" data-theme="d">data-theme="d"</a>
        <a href="#" data-role="button" data-theme="e">data-theme="e"</a>
    </div><!--coomponet-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:4 Mini</h3></div>
        <a href="#" data-role="button" data-mini="true" >Mini Button: data-mini="true"</a>
        <a href="#" data-role="button" data-mini="true" data-inline="true">Mini + inLine Button1</a>
        <a href="#" data-role="button" data-mini="true" data-inline="true">Mini + inLine Button2</a>
    </div><!--coomponet-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:5 Corners & Shadows</h3></div>
        <a href="#" data-role="button">Default</a>
        <a href="#" data-role="button" data-corners="false">No rounded corners - data-corners="false"</a>
        <a href="#" data-role="button" data-shadow="false">No button shadow - data-shadow="false"</a>
        <a href="#" data-role="button" data-iconshadow="false">No icon disc shadow - data-icnoshadow="false"</a>
    </div><!--coomponet-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:6 Disabled</h3></div>
        <form>
          <input type="button" value="Disable: input element" disabled="">
          <button disabled="">Disable: button element</button>
        </form>
        <a href="#" class="ui-disabled" data-role="button">Disable: a element</a>
    </div><!--coomponet-->


    </div><!-- content -->
    <div data-role="footer" data-position="fixed">
        <h3>Powered by Hochul shin, Junghyun Han</h3>
    </div>
</div><!-- /page -->