---
title: listview
---

<div data-role="page">
	<div data-role="header">
		<h1>Listview</h1>
	</div><!-- /header -->

	<div data-role="content">
		<ul data-role="listview">
		    <li>Apple</li>
		    <li>Banana</li>
		    <li>Cherry</li>
		</ul>
		<p>
		<ol data-role="listview">
		    <li>Apple</li>
		    <li>Banana</li>
		    <li>Cherry</li>
		</ol>
		<p>
		<ul data-role="listview">
		    <li><a href="#">Apple</a></li>
		    <li><a href="#">Banana</a></li>
		    <li><a href="#">Cherry</a></li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true">
		    <li><a href="#">Apple</a></li>
		    <li><a href="#">Banana</a></li>
		    <li><a href="#">Cherry</a></li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="과일 이름을 넣으세요.">
		    <li><a href="#">Apple</a></li>
		    <li><a href="#">Banana</a></li>
		    <li><a href="#">Cherry</a></li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true">
			<li data-role="list-divider">A~B</li>
		    <li><a href="#">Apple</a></li>
		    <li><a href="#">Banana</a></li>
		    <li data-role="list-divider">C</li>
		    <li><a href="#">Cherry</a></li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true" data-autodividers="true">
		    <li><a href="#">Apple</a></li>
		    <li><a href="#">Banana</a></li>
		    <li><a href="#">Cherry</a></li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true">
		    <li><a href="#">Apple<span class="ui-li-count">12</span></a></li>
		    <li><a href="#">Banana<span class="ui-li-count">345</span></a></li>
		    <li><a href="#">Cherry<span class="ui-li-count">0</span></a></li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true">
		    <li data-icon="gear"><a href="#">Apple</a></li>
		    <li data-icon="info"><a href="#">Banana</a></li>
		    <li><a href="#">Cherry</a></li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true">
		    <li><a href="#"><img src="../../common/images/js.jpg" alt="js" class="ui-li-icon">Apple</a></li>
		    <li><a href="#"><img src="../../common/images/js.jpg" alt="js" class="ui-li-icon ">Banana</a></li>
		    <li><a href="#"><img src="../../common/images/js.jpg" alt="js" class="ui-li-icon">Cherry</a></li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true">
		    <li><a href="#">
		    	<img src="../../common/images/js.jpg" alt="js">
		    	<h2>Apple</h2>
		    	<p>apple</p></a>
		    </li>
		    <li><a href="#"><img src="../../common/images/js.jpg" alt="js">Banana</a></li>
		    <li><a href="#"><img src="../../common/images/js.jpg" alt="js">Cherry</a></li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true" data-split-icon="gear">
		    <li><a href="#">
		    	<img src="../../common/images/js.jpg" alt="js">
		    	<h2>Apple</h2>
		    	<p>apple</p></a>
		    	<a href="#">split button</a>
		    </li>
		    <li><a href="#"><img src="../../common/images/js.jpg" alt="js">Banana</a>
		    	<a href="#">split button</a>
		    </li>
		    <li><a href="#"><img src="../../common/images/js.jpg" alt="js">Cherry</a>
		    	<a href="#">split button</a>
		    </li>
		</ul>
		<p>
		<ul data-role="listview" data-inset="true">
		    <li><a href="#">
		    	<h2>Apple</h2>
		    	<p><strong>Apple Inc.</strong></p>
		    	<p>Apple은 iPod와 iTunes, Mac 노트북 및 데스크톱 컴퓨터, OS X 운영 체제, 그리고 혁신적인 iPhone과 iPad를 디자인하고 만듭니다.</p>
		    	<p class="ui-li-aside"><strong>new</strong></p>
		    </a></li>
		    <li><a href="#">
		    	<h2>Banana</h2>
		    	<p><strong>Banana republic</strong></p>
		    	<p>Banana Republic은 비지니스웨어부터 캐주얼 웨어까지 단순하면서도 원하는 스타일을 제공합니다.</p>
		    	<p class="ui-li-aside"><strong>13:02</strong> updated</p>
		    </a></li>
		</ul>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->
