---
title: navbar
---

<div data-role="page">
	<div data-role="header">
		<h1>Navbar</h1>
		<div data-role="navbar">
		    <ul>
		        <li><a href="#" class="ui-btn-active">One</a></li>
		        <li><a href="#">Two</a></li>
		        <li><a href="#">Three</a></li>
		    </ul>
		</div>
	</div><!-- /header -->

	<div data-role="content">
		<div data-role="navbar">
		    <ul>
		        <li><a href="#" class="ui-btn-active">One</a></li>
		        <li><a href="#">Two</a></li>
		        <li><a href="#">Three</a></li>
		    </ul>
		</div>
		<p>
		<div data-role="navbar">
		    <ul>
		        <li><a href="#" class="ui-btn-active">One</a></li>
		        <li><a href="#">Two</a></li>
		        <li><a href="#">Three</a></li>
		        <li><a href="#">Four</a></li>
		        <li><a href="#">Five</a></li>
		    </ul>
		</div>

		<p>
		<div data-role="navbar">
		    <ul>
		        <li><a href="#" class="ui-btn-active">One</a></li>
		        <li><a href="#">Two</a></li>
		        <li><a href="#">Three</a></li>
		        <li><a href="#">Four</a></li>
		        <li><a href="#">Five</a></li>
		        <li><a href="#">Six</a></li>
		    </ul>
		</div>
		<p>
		<div data-role="navbar">
		    <ul>
		        <li><a href="#" data-icon="arrow-l" class="ui-btn-active">One</a></li>
		        <li><a href="#" data-icon="bars">Two</a></li>
		        <li><a href="#" data-icon="arrow-r">Three</a></li>
		    </ul>
		</div>
		<p>
		<div data-role="navbar" data-iconpos="bottom">
		    <ul>
		        <li><a href="#" data-icon="arrow-l" class="ui-btn-active">One</a></li>
		        <li><a href="#" data-icon="bars">Two</a></li>
		        <li><a href="#" data-icon="arrow-r">Three</a></li>
		    </ul>
		</div>
		<p>
		<div data-role="navbar" data-iconpos="left">
		    <ul>
		        <li><a href="#" data-icon="arrow-l" class="ui-btn-active">One</a></li>
		        <li><a href="#" data-icon="bars">Two</a></li>
		        <li><a href="#" data-icon="arrow-r">Three</a></li>
		    </ul>
		</div>
		<p>
		<div data-role="navbar" data-iconpos="right">
		    <ul>
		        <li><a href="#" data-icon="arrow-l" class="ui-btn-active">One</a></li>
		        <li><a href="#" data-icon="bars">Two</a></li>
		        <li><a href="#" data-icon="arrow-r">Three</a></li>
		    </ul>
		</div>




		</div>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->
