---
title: page2
---

<div data-role="page" id="page1">
	<div data-role="header">
		<h1>Page Example 2</h1>
	</div><!-- /header -->

	<div data-role="content">
		<p>여기는 페이지1입니다.</p>
		<a href="#page2">페이지2</a>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->

<div data-role="page" id="page2">
	<div data-role="header">
		<h1>Page 2</h1>
	</div><!-- /header -->

	<div data-role="content">
		<p>여기는 페이지2입니다.</p>
		<a href="#page1">페이지1</a>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->
