---
title: popup2
---

<div data-role="page">

	<div data-role="popup" id="js" data-overlay-theme="a" data-theme="d" data-corners="false">
	    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a><img src="../../common/images/js.jpg" style="width:400px">
	</div>

	<div data-role="header">
		<h1>Popup2</h1>
	</div><!-- /header -->

	<div data-role="content">
		<p>
			<a href="#js" data-rel="popup" data-position-to="window"><img src="../../common/images/js.jpg" style="width:200px"></a>
		</p>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->
