---
title: popup1
---

<div data-role="page">

	<div data-role="popup" id="popup1">
		<p>가장 기본적인 팝업</p>
	</div>

	<div data-role="header">
		<h1>Popup1</h1>
	</div><!-- /header -->

	<div data-role="content">
		<p>
			<a href="#popup1" data-rel="popup">Popup</a>
		</p>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->
