---
title: 2 page test
---

<div data-role="page" id="page1">
    <div data-role="content">
        page1
        <a href="#page2">go to Page2</a>
    </div>
</div><!-- /page -->

<div data-role="page" id="page2">
    <div data-role="content">
        page2
    </div>
</div><!-- /page -->