---
title: button widget test
jsfile: widget.blue
---

<div data-role="page" id="page1">
    <div data-role="header" data-position="fixed">
        <h3>Button Widget Examples </h3>
    </div><!-- header -->
    <div data-role="content">
        <button>Button Tag</button>
    </div>
</div><!-- /page -->