---
title: blue button widget test
jsfile: widget.blue.button
---

<div data-role="page" id="page1">
    <div data-role="header" data-position="fixed">
        <h3> Blue Button Widget Examples </h3>
    </div><!-- header -->
    <div data-role="content">
        <input type="button" value="Example Button" id="widget1" data-role="none">
        <input type="button" value="blue" id="blue">
        <input type="button" value="red" id="red">
        <input type="button" value="green" id="green">
    </div>
</div><!-- /page -->