---
title: 체크박스
---
<div data-role="page" >
  <div data-role="header" data-position="fixed">
    <h3> Checkbox Examples </h3>
  </div><!-- header -->

  <div data-role="content">
    <div data-role="collapsible-set" data-theme="c" data-content-theme="d">

    <div class="component">
      <div><h3 class ="componentHead">Ex:1 Basic Markup-1</h3></div>
      <form>
      <label>
        <input type="checkbox" name="checkbox0">Check me
      </label>
      </form>
    </div><!--component-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:2 Basic Markup-2</h3></div>
      <form>
        <label for="checkbox0">label match</label>
        <input type="checkbox" name="checkbox0" id="checkbox0">
      </form>
    </div><!--component-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:3 Mini size</h3></div>
      <form>
      <label>
        <input type="checkbox" name="mini" class="custom" data-mini="true">Mini Size
      </label>
      </form>
    </div><!--component-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:4 Vertical group</h3></div>
      <form>
        <fieldset data-role="controlgroup">
        <legend>Vertical Group Checkbox</legend>
        <input type="checkbox" name="checkbox1" id="checkbox1">
        <label for="checkbox1">Check1</label>
        <input type="checkbox" name="checkbox2" id="checkbox2" checked>
        <label for="checkbox2">Check2</label>
        <input type="checkbox" name="checkbox3" id="checkbox3">
        <label for="checkbox3">Check3</label>
        </fieldset>
      </form>
    </div><!--component-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:5 Horizontal group</h3></div>
      <form>
        <fieldset data-role="controlgroup" data-type="horizontal">
          <legend>Horizontal Group Checkbox</legend>
          <input type="checkbox" name="checkbox4" id="checkbox4">
          <label for="checkbox4">Check1</label>
          <input type="checkbox" name="checkbox5" id="checkbox5">
          <label for="checkbox5">Check2</label>
          <input type="checkbox" name="checkbox6" id="checkbox6">
          <label for="checkbox6">Check3</label>
        </fieldset>
      </form>
    </div><!--component-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:6 Icon Postion</h3></div>
      <form>
        <fieldset data-role="controlgroup" data-iconpos="right">
          <legend>Horizontal Group Checkbox</legend>
          <input type="checkbox" name="checkbox7" id="checkbox7" checked>
          <label for="checkbox7">Check1</label>
          <input type="checkbox" name="checkbox8" id="checkbox8">
          <label for="checkbox8">Check2</label>
          <input type="checkbox" name="checkbox9" id="checkbox9">
          <label for="checkbox9">Check3</label>
        </fieldset>
      </form>
    </div><!--component-->

    <div class="component">
      <div><h3 class ="componentHead">Ex:7 Theme</h3></div>
      <form>
      <fieldset data-role="controlgroup" >
        <legend>Swatch E:</legend>
        <input type="checkbox" name="checkbox10" id="checkbox10" data-theme="a">
        <label for="checkbox10">Check1</label>
        <input type="checkbox" name="checkbox11" id="checkbox11" data-theme="b" checked>
        <label for="checkbox11">Check2</label>
        <input type="checkbox" name="checkbox12" id="checkbox12" data-theme="c">
        <label for="checkbox12">Check3</label>
        <input type="checkbox" name="checkbox13" id="checkbox13" data-theme="d">
        <label for="checkbox13">Check4</label>
        <input type="checkbox" name="checkbox14" id="checkbox14" data-theme="e">
        <label for="checkbox14">Check5</label>
      </fieldset>
      </form>
    </div><!--component-->

  </div><!-- content -->
  <div data-role="footer" data-position="fixed">
    <h3>Powered by Hochul shin, Junghyun Han</h3>
  </div>
</div><!-- /page -->
