---
title: 라디오버튼
---
<div data-role="page" >
  <div data-role="header" data-position="fixed">
    <h3> Radio Button Examples </h3>
  </div><!-- header -->
  <div data-role="content">
    <div data-role="collapsible-set" data-theme="c" data-content-theme="d">

  <div class="component">
    <div><h3 class ="componentHead">Ex:1 Basic Markup</h3></div>
    <form>
      <label>
          <input type="radio" name="radio0" id="radio0a">Radio1
      </label>
      <label for="radio0b">Radio2</label>
      <input type="radio" name="radio0" id="radio0b" class="custom" checked>
      <label for="radio0c">Radio3</label>
      <input type="radio" name="radio0" id="radio0c" class="custom">
      <label for="radio0d">Radio4</label>
      <input type="radio" name="radio0" id="radio0d" class="custom">
      <label for="radio0e">Radio5</label>
      <input type="radio" name="radio0" id="radio0e" class="custom">
    </form>
  </div><!--coomponet-->

  <div class="component">
    <div><h3 class ="componentHead">Ex:2 Vertical group</h3></div>
    <form>
      <fieldset data-role="controlgroup">
      <legend>Vertical Group Example</legend>
      <input type="radio" name="radio1" id="radio1f" value="on" checked="checked">
      <label for="radio1f">Radio6</label>
      <input type="radio" name="radio1" id="radio1g" value="off">
      <label for="radio1g">Radio7</label>
      <input type="radio" name="radio1" id="radio1h" value="other">
      <label for="radio1h">Radio8</label>
      <input type="radio" name="radio1" id="radio1i" value="other">
      <label for="radio1i">Radio9</label>
      </fieldset>
    </form>
  </div><!--coomponet-->

  <div class="component">
    <div><h3 class ="componentHead">Ex:3 Horizontal group</h3></div>
    <form>
      <fieldset data-role="controlgroup" data-type="horizontal">
      <legend>Horizontal Group Example</legend>
      <input type="radio" name="radio2" id="radio2j" value="on" checked="checked">
      <label for="radio2j">Radio10</label>
      <input type="radio" name="radio2" id="radio2k" value="off">
      <label for="radio2k">Radio11</label>
      <input type="radio" name="radio2" id="radio2l" value="other">
      <label for="radio2l">Radio12</label>
      <input type="radio" name="radio2" id="radio2m" value="other">
      <label for="radio2m">Radio13</label>
      </fieldset>
    </form>
  </div><!--coomponet-->

  <div class="component">
    <div><h3 class ="componentHead">Ex:4-1 Mini Size: Vertical</h3></div>
    <form>
      <fieldset data-role="controlgroup" data-mini="true">
      <legend>Mini Size</legend>
      <input type="radio" name="radio3" id="radio3o" value="on" checked="checked">
      <label for="radio3o">Radio14</label>
      <input type="radio" name="radio3" id="radio3p" value="off">
      <label for="radio3p">Radio15</label>
      <input type="radio" name="radio3" id="radio3q" value="other">
      <label for="radio3q">Radio16</label>
      </fieldset>
    </form>
  </div><!--coomponet-->

  <div class="component">
    <div><h3 class ="componentHead">Ex:4-2 Mini Size: Horizontal</h3></div>
    <form>
      <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
      <legend>Mini Size</legend>
      <input type="radio" name="radio1" id="radio4r" value="on" checked="checked">
      <label for="radio4r">Radio17</label>
      <input type="radio" name="radio1" id="radio4s" value="off">
      <label for="radio4s">Radio18</label>
      <input type="radio" name="radio1" id="radio4t" value="other">
      <label for="radio4t">Radio19</label>
      </fieldset>
    </form>
  </div><!--coomponet-->

  <div class="component">
    <div><h3 class ="componentHead">Ex:5 Icon Position</h3></div>
    <form>
      <fieldset data-role="controlgroup" data-mini="true"  data-iconpos="right">
      <legend>Icon Position Right: Ex 4-1( left position ) </legend>
      <input type="radio" name="radio1" id="radio5u" value="on" checked="checked">
      <label for="radio5u">Radio20</label>
      <input type="radio" name="radio1" id="radio5v" value="off">
      <label for="radio5v">Radio21</label>
      <input type="radio" name="radio1" id="radio5w" value="other">
      <label for="radio5w">Radio22</label>
      </fieldset>
    </form>
  </div><!--coomponet-->

  <div class="component">
    <div><h3 class ="componentHead">Ex:6 Theme</h3></div>
    <form>
      <fieldset data-role="controlgroup">
      <legend>Icon Position Right: Ex 4-1( left position ) </legend>
      <input type="radio" data-theme="a" name="radio1" id="radio6u" value="on" checked="checked">
      <label for="radio6u">DATATHEME A</label>
      <input type="radio" data-theme="b" name="radio1" id="radio6v" value="off">
      <label for="radio6v">DATATHEME B</label>
      <input type="radio" data-theme="c" name="radio1" id="radio6w" value="other">
      <label for="radio6w">DATATHEME C</label>
      <input type="radio" data-theme="d" name="radio1" id="radio6y" value="other">
      <label for="radio6y">DATATHEME D</label>
      <input type="radio" data-theme="e" name="radio1" id="radio6z" value="other">
      <label for="radio6z">DATATHEME E</label>
      </fieldset>
    </form>
  </div><!--coomponet-->

  </div><!-- content -->
  <div data-role="footer" data-position="fixed">
    <h3>Powered by Hochul shin, Junghyun Han</h3>
  </div>
</div><!-- /page -->