---
title: Methods
jsfile: methods
prejqm: prejqmForMethods
---

<div data-role="page" >
  <div data-role="header" data-position="fixed">
    <h3> Method Examples </h3>
  </div><!-- header -->
  <div data-role="content" id="content">
    <button class="ui-btn" id="button1">버튼 추가 후, enhanceWithin() 실행.</button>
    <button class="ui-btn" id="button2">버튼 추가 후, enhanceWithin() 실행 안함.</button>

    <div data-enhance="false"><input type="button" value="enhance 안됨"></div>
    <div><input type="button" value="enhance "></div>

  </div><!-- content -->
  <div data-role="footer" data-position="fixed">
    <h3>Powered by Hochul shin, Junghyun Han</h3>
  </div>
</div><!-- /page -->