---
title: path test
jsfile: path
---

<div data-role="page" >
  <div data-role="header" data-position="fixed">
    <h3> Path Examples </h3>
  </div><!-- header -->
  <div data-role="content" id="content">


  </div><!-- content -->
  <div data-role="footer" data-position="fixed">
    <h3>Powered by Hochul shin, Junghyun Han</h3>
  </div>
</div><!-- /page -->