---
title: basic table
jsfile:
---
<div data-role="page">
  <div data-role="header">
    <h1>테이블 기본요소 </h1>
  </div>
  <div data-role="content">
  <!--ui-responsive 클래스가 추가되어야 함. ( preset 설정 ), 화면 레이아웃이 변경될때마다. responsive 하게 테이블이 변경된다. -->
  <table data-role="table" id="basic-toggle" class="ui-responsive">
  <thead>
    <tr>
      <th>순위</th>
      <th>타이틀</th>
      <th>가수</th>
      <th>가격</th>
      <th>발매일</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>신촌을 못가</td>
      <td>포스트맨</td>
      <td>5,000</td>
      <td>2014.01.01</td>
    </tr>
    <tr>
      <th>2</th>
      <td>독기</td>
      <td>아이언</td>
      <td>10,000</td>
      <td>2014.01.20</td>
    </tr>
    <tr>
      <th>3</th>
      <td>너를 사랑해</td>
      <td>t 윤미래</td>
      <td>1,000</td>
      <td>2014.02.21</td>
    </tr>
    <tr>
      <th>4</th>
      <td>연결 고리#힙합</td>
      <td>bobby</td>
      <td>3,000</td>
      <td>2014.03.31</td>
    </tr>
    <tr>
      <th>5</th>
      <td>예뻐졌다.</td>
      <td>박보람</td>
      <td>6,000</td>
      <td>2014.04.20</td>
    </tr>
    <tr>
      <th>6</th>
      <td>I Swear</td>
      <td>씨스타</td>
      <td>7,000</td>
      <td>2014.05.11</td>
    </tr>
    <tr>
      <th>7</th>
      <td>공허해</td>
      <td>WINNER</td>
      <td>20,000</td>
      <td>2014.06.12</td>
    </tr>
    <tr>
      <th>8</th>
      <td>가드 올리고 Bounce</td>
      <td>Bobby</td>
      <td>500</td>
      <td>2014.06.11</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Lost Stars</td>
      <td>Adam</td>
      <td>8,000</td>
      <td>2014.07.11</td>
    </tr>
    <tr>
      <th>10</th>
      <td>I'm Fine Thank You</td>
      <td>레이디스코드</td>
      <td>100,000</td>
      <td>2014.01.01</td>
    </tr>
  </tbody>
  </table>
  </div>
  <div data-role="footer">
    <h3>Powered by Hochul shin, Junghyun Han</h3>
  </div>
</div><!-- /page -->